* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden; /* Ngăn bị cuộn ngang */
}

#root {
  width: 100%;
  height: 100%;
}

html, body, #root, .App {
    height: auto !important;
    min-height: 100vh !important;
    overflow: visible !important;
    overflow-y: auto !important;
}